html {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #eee;
}

body {
  margin: 1em auto;
  padding: 1em 2em;
  background: #fff;
  border: 1px solid #ddd;
  max-width: 800px;
}

button {
  background: #333;
  color: #eee;
  padding: 0.5em 1em;
  border: 0;
  border-radius: 0.5em;
  cursor: pointer;
}
